.App{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 24px;
  margin-top: 0px;
  margin-right: 0px;
}

.genre{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #0FEFFD;
  margin: 0;
  margin-bottom: 21px;
  text-align: left;
  display: flex;
  
}

.genreBlock{
  display: flex;
  flex-direction: row;
  margin: 0;

}
.rate{
  text-align: left;
  margin-left: 24px;
  color:#FFFFFF;
}

.poster{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 0.8) 80.79%)
}
.image{
  width: 250px;
  height: 380px;
  background-size: cover  ;
}
.posterImage{
  background-size: cover  ;
  /* width: 1700px; */
  height: 648px;
}
p{
  font-family: 'Roboto';
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
}

.movieTitle{
  font-weight: 500;
  font-size: 56px;
  margin: 0;
  line-height: 64px;
  margin-bottom: 16px;
}
.movieOverview{
  font-size: 16px;
  margin: 0;
  line-height: 32px;
}

.movieInfo{
  width: 632px;
  margin-left: 236px;
  margin-top: 136px;
}

.back{
  background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%);
  width: 100%;
  height: 100%;
  display: flex;
}

.stars{
  color:white;
  margin: 0;
  margin-bottom: 18px;
}

.text{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 88px;
}
.similarMovies{
  width: 100%;
  display: flex;
  background-color: black;
  flex-direction: column;
}

.mov{
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  flex-wrap: wrap;
}

.mainPageMovies{
  display: flex;
  flex-wrap: wrap;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:space-between ;
}

.query{
  display: flex;
  align-items: flex-start;
}

.pagination{
  display: flex;
  justify-content: center;
  width:100%;
}

#outlined-basic{
  height: 40px;
}

.rickImage{
  width: 229px;
  height: 220px;
  margin: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  object-position: center center;
  object-fit: cover;
}

.characterBlock{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 220px;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.characterInfo{
  background: rgb(32, 35, 41);
  width: 100%;
}

.characterName{
  font-size: 1.5rem;
  margin: 0px 30px;
  font-weight: 800;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  font: 112.5%/1.625 -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.textGray{
  margin: 0px 30px;
  color: rgb(158, 158, 158);
}

.signInBlock{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 25px;
}

