.bad{
  //display: flex;
  //flex-wrap: wrap;
  //margin: auto;

}
.todo_container{
  //background: #3b3b3b;
  //margin:35px
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

