#todo_list{
  border: 2px #3f51b5 solid;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.todo_form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_item_checkbox{
  margin-left: auto;
}


