table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 630px;
  }
  
  td, th {
    border: 1px solid #95979b;
    text-align: left;
    padding: 8px;
  }
  td{
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  tr:nth-child(odd) {
    background-color: #F3F9FF;;
  }

  #itemName{
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .item{
      width: 100px;
      background-color: #F2F2F2;
  }

  #id{
      width: 30px;
  }

  #name{
    max-width: 300px;
    width: 300px;
  }